.category{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.catBtn{
    color: var(--color-gray-800);
    text-transform: capitalize;
    transition: var(--transition);
}

.btn.catBtn:hover{
    transform: translateY(0);
}

.projects{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 3rem;
    align-items: start;
}
.project{
    opacity: 0;
    animation: identifier 1s ease-in forwards;
}

@keyframes identifier{
    to{
        opacity: 1;
    }
}

.image{
    width: 100%;
    height: fit-content;
    min-height: 7rem;
    max-height: 15rem;
    background: var(--color-light);
    border-radius: var(--border-radius-2);
    overflow: hidden;
}

.content{
    padding: 1.5rem;
}

.project p{
    margin: 0.5rem 0 2rem;
}
.cCta{
    display: flex;
    gap: 1rem;
}

.btn{
    display: inline-block;
background: var(--color-gary-200);
padding: 0.6rem 1.5rem;
font-size: 0/8rem;
}

.btn.primary{
    background: var(--color-primary);
    color: white;
}


/* media queries */
@media screen and (max-width:600px){
    .categories{
        gap: 0.6rem;
    }

    .btn.catBtn{
        padding: 0.7rem 0.8rem;
    }

    .projects{
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}