.heroContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:100%;
}

.heroCard {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s, opacity 0.5s;
    opacity: 0;
    transform: translateX(-50px);
}

.heroCard.animated {
    transform: translateX(0);
    opacity: 1;
}

.heroCard h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color:#16094e

   
}

.heroCard p {
    font-size: 1rem;
    color: #0b0939;
}

.heroCard .icon{
    color:var(--color-danger);
    font-size:20px;
}