.container{
    /* background: red; */
    height: max-content;
    display: flex;
   flex-direction: column;
   color: #000;

}

.description{

    margin-top: 3rem;
    margin-bottom: 4rem;
    text-align: center;
    color: #222;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.description p{
    font-size: small;
    margin-bottom: 2rem;
}

.description h1{
    color: #000;
    font-weight: bolder;
    font-size: 3rem;
    text-align: center;
   
}


.objContainer{
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
   
}


.imgContainer{
    flex: 1;
    background-color: yellow;
position: relative;
   
}

.imgBox{
    width: 300px;
    height: 300px;
 
}

.oText{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    justify-items: center;
}

.obtext{
    display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  border-bottom: 2px solid var(--btn2);
}


.obtext:hover {
    background-color: #f0f0f0;
  }
  
  .objTitle {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .objDesc {
    font-size: 0.9rem;
    text-align: center;
  }
  
  /* Mobile responsiveness */
  @media screen and (max-width: 600px) {
    .oText {
      grid-template-columns: 1fr;
    }
    .description{
        width: 80%;
        
    }
    .description p{
        font-size: small;
        margin-bottom: 1rem;
    }

    .description h1{
        font-size: 2rem;
    
    }
    
  }

  @media screen and (max-width: 1000px) {
    .oText {
      grid-template-columns: 1fr;
    }
.imgContainer{
    display: none;
}
    
  }