

/* Define the styles for the card container */
.card {
  background-color: transparent;
   width: 300px; 
 height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  cursor: pointer;
}

/* Define the styles for the card inner element */
.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Define the styles for the card front and back elements */
.cardFront,
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Define the styles for the card front element */
.cardFront {
  background-color: #fff;
  color: black;
}

/* Define the styles for the card image element */
.cardImage {
  object-fit: cover;
  /* width: 100%; */
  width: 100%;
  height: 200px;
  margin: 0 auto;
}

/* Define the styles for the card name element */
.cardName {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

/* Define the styles for the card description element */
.cardDescription {
  font-size: 16px;
  margin: 10px;
}

/* Define the styles for the card back element */
.cardBack {
  background-color: var(--btn2);
  color: white;
  transform: rotateY(180deg);
}

/* Define the styles for the card title element */
.cardTitle {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  color: #f1f1f1;
}

/* Define the styles for the card info element */
.cardInfo {
  font-size: 16px;
  margin: 10px;
  color: #999;
}

/* Define the styles for the card social element */
.cardSocial {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  width: 70%;
  margin: 0 auto;
  margin-top: 12px;
  height: 50px;
  
}

/* Define the styles for the card link element */
.cardLink {
  color: white;
  text-decoration: none;
  margin: 5px;
  margin-left: 12px;
  width: 30px;
  height: 30px;
  margin-bottom: 23px;
  border: 1px solid #888;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Define the styles for the card link icon element */
.cardLink i {
  font-size: 24px;
}
.bDesc{
  font-size: small;
margin-top: -0.9rem;
}
/* Define the styles for the flip animation */
.flipped {
  transform: rotateY(180deg);
}


.eImage{
  background-color: #fff;
  width: 140px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 50%;

}
.img{
  border-radius: 50%;
}


/* Define the media query for mobile devices */
@media only screen and (max-width: 600px) {
    /* Adjust the card container width and height */
    .card {
        display: flex;
        flex-direction: column;
        gap: 12px;
        justify-content: center;
        align-items: center;
    }
  
    /* Adjust the card image width and height */
    .cardImage {
      width: 100%;
      height: 200px;
      margin: 0 auto;
    }
  
    /* Adjust the card name font size */
    .cardName {
      font-size: 18px;
    }
  
    /* Adjust the card description font size */
    .cardDescription {
      font-size: 14px;
    }
  
    /* Adjust the card title font size */
    .cardTitle {
      font-size: 16px;
    }
  
    /* Adjust the card info font size */
    .cardInfo {
      font-size: 12px;
    }
  
    /* Adjust the card link icon font size */
    .cardLink i {
      font-size: 20px;
    }
}