.about{
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.historyHeader{
  color: #11065a;
  font-size: 24px;
  
}

.historyHeader span{
  color: var(--color-danger);
}

.container{
  display: grid;
  grid-template-columns: 40% 50%;
  gap: 10%;
}

.readMore{
  background-color: var(--color-danger);
  color: wheat;
  padding: 12px 24px;;
}

.image{
  height: 28rem;
  overflow: hidden;
  object-fit: contain;
  display: grid;
  width: 100%;
  place-items: center;
   opacity: 0;
   animation: identifier 2s ease forwards;
   border-radius: 17px;
}

.aboutSupport{
  margin-top: 22px;
  background-color: var(--color-danger);
  padding: 12px;
  margin-bottom: -12px;
}

.content{
  background-color: #f9f9f9;
  padding: 19px;
    color: #11065a;
  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.aboutContent p{

  margin-top: 0.8rem;
  background-color: #f9f9f9;
  
  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 
  
}
.aboutContent h4{
  color:#11065a;
}
.aboutContent h4 span{
  color:var(--color-danger);
}

@keyframes identifier{
  to{
      opacity: 1;
  }

}

.aboutCta{
  display: inline-block;
  margin-top: 2.5rem;
}

.history{
  display: flex;
  /* align-items: center;
  justify-content: center; */
  margin-top: 5rem;
  flex-direction: column;
  gap: 1.4rem;
  width: 100%;
}
.historyContent{
  color: #444;
  font-weight: 700;
  font-size: 16px;
    background-color: #f9f9f9;
    
    
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.secondParagraph{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.secondParaDesc{
  flex: 3;
  color: #444;
  font-weight: 700;
  font-size: 16px;
}

.nsaLogo{
  flex: 1;
  /* background-color: #fff; */
  padding: 14px;
  border-radius: 50%;
  width: 100%;
  /* height: 240px; */
  position: relative;
  /* animation: bounce 2s linear infinite; */
}


/* animate logo */

@keyframes bounce {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 30px;
    top: 12px;
    transform: scaleX(1.2) scaleY(0.8);
  }
  100% {
    left: 0;
  }
}

.float{
  width: 100%;
  max-height: 100vh;
  object-fit: contain;

}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.supportButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ff5722;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotate 4s infinite linear;
  z-index: 99;
  flex-direction: column;
}

.supportText {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  animation: rotateText 4s infinite linear;
}

@keyframes rotateText {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.reactIcon {
  /* background-image: url('path/to/react-icon.png'); */
  background-size: cover;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:600px){
  .container{
      grid-template-columns: 1fr;
      gap: 2.5rem;
      align-items: center;
      justify-content: center;
  }
  .image{
      margin: 0 auto;
      /* width: 20rem; */
      height: 20rem;
  }

  .history{
    margin-top: 3rem;
  }
  .secondParagraph{
    flex-direction: column;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

