.card {
    /* background-color: #f9f9f9; */
    background-color: var(--btn2);
    border-radius: 13px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
    position: relative;
    


  }
  
  .top{
    display: flex;
    padding: 12px;
    /* align-items: center; */
    justify-content: space-between;
    gap: 52px;
  }
  .topLeft{
    display: flex;
    flex-direction: column;
    gap: 9px;
  }

  .topRight{
    border: 0.3px dotted #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
  }
  .card:hover {
    transform: translateY(-4px);
  }
  
  .picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 16px;
    border: 1px solid #fff;
  }
.quoteLogo{
  position: absolute;
  top: 12px;
  right: 5%;
}  
  .content {
    flex: 1;
  }
  
  .name {
    font-size: 20px;
    margin-bottom: 8px;
  }
  
  .position {
    font-size: 16px;
    color:gainsboro;
    margin-bottom: 8px;
  }
  
  .company {
    font-size: 16px;
    color:floralwhite;
    margin-bottom: 16px;
  }
  
  .message {
    font-size: small;
    color: #999;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .card-enter {
    animation: fade-in 0.5s ease;
    animation-fill-mode: both;
  }


  /* our quote logo */

 
  
  
  /* ... existing styles ... */