/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/about/about.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.about_about__zxZUz{
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.about_container__Ucmgi{
  display: grid;
  grid-template-columns: 40% 50%;
  grid-gap: 10%;
  gap: 10%;
}

.about_image__mD_hE{
  height: 28rem;
  overflow: hidden;
  object-fit: fill;
  display: grid;
  width: 24rem;
  place-items: center;
   opacity: 0;
   animation: about_identifier__0Ajxz 2s ease forwards;
   border-radius: 60px;
}

.about_aboutContent__x2hvY p{

  margin-top: 0.8rem;
  
}



@keyframes about_identifier__0Ajxz{
  to{
      opacity: 1;
  }

}

.about_aboutCta__w3ZVQ{
  display: inline-block;
  margin-top: 2.5rem;
}

.about_history__SyRC9{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  flex-direction: column;
  gap: 1.4rem;
  width: 100%;
}
.about_historyContent__Gce5y{
  color: #444;
  font-weight: 700;
  font-size: 16px;
}
.about_secondParagraph__ds_w4{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.about_secondParaDesc__mUyLq{
  flex: 3 1;
  color: #444;
  font-weight: 700;
  font-size: 16px;
}

.about_nsaLogo__MHEOV{
  flex: 1 1;
  background-color: #fff;
  padding: 14px;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  position: relative;
  animation: about_bounce___SiIq 2s linear infinite;
}


/* animate logo */

@keyframes about_bounce___SiIq {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 30px;
    top: 12px;
    transform: scaleX(1.2) scaleY(0.8);
  }
  100% {
    left: 0;
  }
}

.about_float__6Tdl_{
  width: 200px;
  height: 200px;

}

@media screen and (max-width:600px){
  .about_container__Ucmgi{
      grid-template-columns: 1fr;
      gap: 2.5rem;
      align-items: center;
      justify-content: center;
  }
  .about_image__mD_hE{
      margin: 0 auto;
      width: 20rem;
  }
  .about_secondParagraph__ds_w4{
    flex-direction: column;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}


/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/faqs/faqs.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/



.faqs_section__YuPhe{
    padding-top: 7rem;
}

.faqs_container__rln6v{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.8rem 4rem;
    gap: 0.8rem 4rem;
    align-items: center;
}

.faqs_faq__o8KmJ{
    padding: 1rem;
cursor: pointer;
background-color: var(--color-gray-0);
}

.faqs_faq__o8KmJ.faqs_open__mnbbH{
    background-color: var(--btn2);
    color: white;
}

.faqs_faq__o8KmJ.faqs_open__mnbbH h6{
    color: white;
}
.faqs_faq__o8KmJ div{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.faqs_faq__o8KmJ p{
    margin-top: 1rem;
    margin-left: 2.1rem;
    font-size: 0.9rem;

}

@media screen and (max-width: 600px){
    .faqs_section__YuPhe{
        margin-top: -4rem;

    }
    .faqs_container__rln6v{
        grid-template-columns: 1fr;
    }
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/sectionHeader/sectionHeader.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
.sectionHeader_sectionHeader__Q5OBH{
    margin: 4rem 0 7rem;
    padding: 3rem 0;
    text-align: center;
    background-color: #fff;
    box-shadow: -2px 7px 11px 0px rgba(0,0,0,0.63);
    transition: var(--transition);
        opacity: 0;
        animation: sectionHeader_identifier__niQyA 1s ease-in forwards;
}
.sectionHeader_sectionHeade__V7ktI:hover{
    background-color: var(--color-gray-200);
}

@keyframes sectionHeader_identifier__niQyA{
    to{
        opacity: 1;
        margin-top: 3rem;
    }
}


.sectionHeader_sectionHeader__Q5OBH h3{
    color: var(--color-secondary);
    margin-bottom: 0.5rem;
}

.sectionHeader_sectionHeader__Q5OBH p{
    min-width: 52rem;
    margin-inline: auto;
    color: var(--btn2);
}

@media screen and (max-width:600px) {
    .sectionHeader_sectionHeader__Q5OBH{
        margin-bottom: 2rem;
        padding: 20px;
        
        
    }

    
@keyframes sectionHeader_identifier__niQyA{
    to{
        opacity: 1;
    }
}


    .sectionHeader_sectionHeader__Q5OBH p{
        min-width: var(--container-width-md);
        font-size: small;
    }

}
