/* Import the CSS modules */

/* Define the styles for the container element */
.container {
    display: flex;
    flex-direction: column;
  margin-top: 7rem;
    justify-content: center;
    align-items: center;
  
  padding: 20px; /* Add some padding */
}



/* Define the styles for the title element */
.title {
  font-size: 36px; /* Set a large font size */
  font-weight: bold; /* Set a bold font weight */
  text-align: center; /* Center the text */
  margin-bottom: 20px; /* Add some bottom margin */
  color: #111;
}

.desc{
  text-align: center;
  color: #333;
  width: 40%;
  margin: 0 auto;
  padding-bottom: 2rem;
font-size: 18px;
  
}

/* Define the styles for the grid element */
.grid {
display: flex;
/* flex-direction: column; */
justify-content: center;
align-items: center;
flex-wrap: wrap;
gap: 12px;
}

/* Define the media query for mobile devices */
@media only screen and (max-width: 600px) {
  /* Adjust the grid columns for smaller screens */
  .grid {
    /* grid-template-columns: repeat(1, 1fr); */
     /* Divide the grid into two equal columns */
     /* gap: 33px;
      */

      flex-direction: column;
  }

  .title{
    font-size: 18px;
  }

  .desc{
    font-size: 15px;
    width: 90%;
  }
}
