.links {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 23px;
  }
  
  .logout {
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .menuButton,
  .mobileLinks {
    display: none;
  }
  
  @media (max-width: 768px) {
    .links {
      display: none;
      align-items: right;
    }
  
    .menuButton {
      display: block;
      cursor: pointer;
    }
  
    .mobileLinks {
      position: absolute;
      top: 100px;
      right: 0;
      width: 100%;
      height: calc(100vh - 100px);
      background-color: #072451;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 99;
     gap: 3rem;
      
    }
  }
  