


.section{
    padding-top: 7rem;
}

.width{
    margin: 0 auto;
   

}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.8rem 4rem;
    align-items: center;
    /* width: 350px; */

}

.faq{
    padding: 1rem;
cursor: pointer;
background-color: var(--color-gray-0);

}

.faq.open{
    background-color: var(--btn2);
    color: white;
}

.faq.open h6{
    color: white;
}
.faq div{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.faq p{
    margin-top: 1rem;
    margin-left: 2.1rem;
    font-size: 0.9rem;

}

@media screen and (max-width: 600px){

    .section{
        margin-top: -4rem;

    }

    .faq{
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;

    }
    .container{
        width: 360px;
        padding-left: 11px;
        padding-right: 11px;
margin: 0 auto;
        grid-template-columns: 1fr;
    }
}