.Eventcontainer{
    margin-top: 12rem;
    justify-content: center;
    align-items: center;
height: 100vh;

}


@media screen and (max-width:600px){
    .Eventcontainer {
        margin-top: 8rem;
        
    }
  
}
