.section{
    margin-top: 13rem;
}
.avatarWrapper{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    width: 5rem;
    aspect-ratio: 1/1;
    padding: 1rem;
    background: var(--color-gray-0);

}

.avatar{
    overflow: hidden;
    border-radius: 50%;
}

.name{
    margin: 2rem 0 0.2rem;
}

.quote{
    margin: 1rem 0;
}


@media screen and (max-width: 600px){
    .section{
        margin-top: 7rem;
    }
}