/* .card{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: red;
} */
.post{
    width: 30%;
}

@media screen and (max-width:1200px){
    .post{
        width: 45%;
    }
}

@media screen and  (max-width:768px){
    .post{
        width: 100%;
    }
}