.container{
   
    /* margin-top: 1rem; */
    color: #fff;
}




.cardContaner{
  background: var(--color-bg2);
}
.teamContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
gap: 4rem;
}
.teamMember{
  padding: 1rem;
  overflow: hidden;
  background-color: #f0f0f0;
  border: 1px solid transparent;
  border-radius: 1rem;
  transition: var(--transition);
  position: relative; /*to enable us position our socials absolutely below*/
  -webkit-box-shadow: -2px 7px 11px 0px rgba(0,0,0,0.63);
-moz-box-shadow: -2px 7px 11px 0px rgba(0,0,0,0.63);
box-shadow: -2px 7px 11px 0px rgba(0,0,0,0.63);
transition: var(--transition);
opacity: 0;
animation: identifier 1s ease-in forwards;
  }

  
@keyframes identifier{
  to{
      opacity: 1;
  }
}


.teamMember:hover{
  background: var(--color-white);
  border-color: #777;
  color: #fff;
  
}
.teamMemberImg .img {
  filter: saturate(1);

}
.teamMemberImg:hover .img{
  filter: saturate(0);
}
.teamInfo{
  text-align: center;
  margin-top: 1.5rem;
  padding: 2rem;
}
.teamMember h3{
  margin-bottom: 1rem;
 
  font-size: 20px;

}

.teamInfo p{
  color: #999;
}

.img{
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  /* border-radius: 50%; */
}
.teamMemberSocials{
  position: absolute;
  top: 50%;
  right: -100%;
  
  display: flex;
  flex-direction: column;
  background-color:var(--btn2);
  border-radius: 1rem;
  transform: translateY(-50%);
  box-shadow: -0.4rem 2rem 1rem rgba(0, 0, 0, 0.3);
  transition: var(--transition);
}

.social {
  padding: 1rem;
  font-size: 2rem;
}

.teamMember:hover .teamMemberSocials {
  right: 0;

}

@media screen and (max-width:600px){
  .teamContainer{
    grid-template-columns: 1fr;
  }
}